body {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-image: url(../img/bg01.gif);
	margin-right: auto;
	margin-left: auto;
}
#container {
	background-color: #FFFFFF;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
#contents {
	margin-right: 20px;
	margin-left: 20px;
}
#g-menu {
	margin:0;
}
.img01{
	margin:0;
}

h1 {
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	border: thin solid #B50021;
	margin: 10px;
	text-align: center;
}
h2 {
	font-size: 120%;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 20px 0px 0px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #003366;
}
h3 {
	font-size: 140%;
	font-weight: bolder;
	background-image: url(../img/icon_bstop.gif);
	background-repeat: no-repeat;
	margin: 10px 0px;
	padding-top: 18px;
	padding-bottom: 4px;
	padding-left: 36px;
	border-bottom: 2px solid #888888;
	background-position: 10px;
}
h4 {
	margin: 0px 0px 16px;
	border-top: 1px solid #999999;
	border-right: 2px solid #999999;
	border-bottom: 2px solid #999999;
	border-left: 10px solid #999999;
	padding: 2px 0px 4px 6px;
	font-size: 110%;
	font-weight: bold;
	line-height: 100%;
}

.c70 {
	font-size: 70%;
}
.c85 {
	font-size: 85%;
}
.c90 {
	font-size: 90%;
}
hr {
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
	border-bottom-width: medium;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.to_anchor {
	font-size: x-small;
	text-align: right;
	margin: 0px;
	padding: 10px 10px 0px;
}
#f-menu {
	margin: 0px 20px;
	text-align: center;
	padding: 0px;
}
#f-menu p {
	font-size: 80%;
	margin: 0px;
	padding: 0px;
}
.footer {
	font-size: 75%;
	text-align: center;
	padding: 45px 0px 6px;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	background-image: url(../img/bg_footer.gif);
	background-repeat: no-repeat;
	margin: 0px;
}

/*-- 函館バスからのお知らせ --*/
#news {
	margin-right: 30px;
	margin-left: 30px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 2px solid #999999;
	border-right: 4px solid #999999;
	border-bottom: 4px solid #999999;
	border-left: 2px solid #999999;
}
#news h6 {
	display: block;
	padding-top: 0px;
	margin: 0px;
}
.news-text {
	font-size: 85%;
	display: block;
	margin: 0px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 1em;
}

/*--トップページのスタイル設定--*/
#message {
	margin: 20px;
}
#message p {
	font-size: 90%;
	line-height: 140%;
	padding: 0px 0px 4px;
	margin: 0px 1em;
}

.message-qr {
	border: thin dashed #999999;
	margin: 4px;
	padding: 4px;
}


#header-navi{
	margin-top: 2px;
	margin-right: 40px;
	margin-bottom: 10px;
	margin-left: 20px;
}
#header-navi p{
	font-size: small;
	margin: 0px;
	text-align: right;
}
#top-navi {
	display: block;
	border: medium dotted #339933;
	margin-right: 40px;
	margin-left: 20px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-top: 2px;
	padding-bottom: 0px;

}
#top-navi a:link {
	text-decoration: none;
	color: #CC0000;
}
#top-navi a:visited {
	color: #CC0000;
	text-decoration: none;
}
#top-navi a:hover {
	color: #0000FF;
	text-decoration: underline;
}

#top-navi dl {
}
#top-navi dt {
	font-size: 100%;
	list-style-position: inside;
	list-style-image: url(../img/bus01.gif);
	padding: 8px 0px 2px 46px;
	margin: 10px 0px 6px 10px;
	background-image: url(../img/bus01.gif);
	background-repeat: no-repeat;
	background-position: left center;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
	font-weight: bold;
}
#top-navi dd {
	font-size: small;
	margin: 0px 0px 12px;
	padding: 0px 0px 4px 4em;
	line-height: 140%;
}

/*--検索ページのスタイル設定--*/
#result p {
	font-size: 90%;
	margin-left: 2em;
	margin-top: 2px;
	margin-bottom: 2px;
}
#result table {
	background-color: #999999;
}
.h_img01 {
	border: thin solid #CCCCCC;
	padding: 0px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: 0px;
	margin-left: 0px;
}


#result th {
	font-size: 80%;
	font-weight: bold;
	text-align: center;
	background-color: #CCCCCC;
}
#result td {
	font-size: 80%;
	background-color: #FFFFFF;
	margin: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}
.select {
	font-size: 90%;
	width: 250px;
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
}
.setumei01 {
	font-size: 90%;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	margin-left: 20px;
	padding-bottom: 6px;
	margin-right: 20px;
}
.setumei02 {
	margin-left: 2em;
	margin-right: 10px;
	line-height: 140%;
	margin-top: 10px;
	margin-bottom: 0px;
}
.setumei03 {
	margin-left: 2.5em;
	margin-right: 10px;
	line-height: 140%;
	font-size: 95%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.h-chuui01{
	font-size: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 0px;
	color: #b50021;
	font-weight: bold;
}

.f-chuui01{
	font-size: 80%;
	border: 1px dashed #B50021;
	padding: 8px;
	margin-top: 20px;
/*	margin-right: 10px; */
	margin-bottom: 10px;
/*	margin-left: 10px; */
	line-height: 140%;
}


/*-- 時刻表 --*/
#change {
	font-size: 90%;
	vertical-align: baseline;
	margin-top: 20px;
}
#change img {
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}
.change-td {
	padding-top: 0px;
	padding-right: 40px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#timetable table {
	margin: 0px;
	padding: 0px;
}

#timetable td {
	font-size: 85%;
}
#timetable td table {
	font-size: 125%;
}


#wd-timetable table caption,
#we-timetable table caption {
	font-size: 90%;
	font-weight: bold;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 10px;
	margin: 10px 0px 0px;
	text-align: left;
}

#wd-timetable table,
#we-timetable table  {
	background-color: #FFFFFF;
}
#wd-timetable th {
	font-size: small;
	font-weight: bold;
	background-color: #CCCCFF;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}

#we-timetable th {
	font-size: small;
	font-weight: bold;
	background-color: #FFCCFF;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}
.td01 {
	font-size: small;
	background-color: #FFFFCC;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}
.td02 {
	font-size: small;
	background-color: #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
}

/*-- のりばリスト・標柱 --*/
#li-timetable table {
	margin: 16px;
	border: 1px solid #CCCCCC;

}
#li-timetable th {
	font-size: 85%;
	font-weight: bold;
	color: #000000;
	background-color: #999999;
	text-align: center;

}
#li-timetable td {
	font-size: 80%;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 2px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #CCCCCC;

}

/*-- ランドマーク情報表示 --*/
#LM-photo,
#map-s {
	float: left;
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	width: 510px;
}
#LM-photo img,
#map-s img {
	margin: 2px;
	padding: 2px;
	border: thin solid #CCCCCC;
}
#LM-data,
#map-selection {
	margin: 20px 0px 2px 2px;
	float: right;
}
#LM-data table {
	background-color: #CCCCCC;
}
#LM-data table caption {
	font-size: 90%;
	font-weight: 500;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1ex;
	padding-left: 0px;
}
#LM-data th {
	font-size: small;
	font-weight: bold;
	background-color: #b50021;
	margin: 0px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 0px;
	color: #FFFFFF;
}
#LM-data td {
	font-size: small;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 6px 2px 6px 6px;
}
#LM-guide h4 {
	clear: both;
	margin: 0px 0px 16px;
	float: none;
	padding: 4px 0px 6px 8px;
	font-size: 110%;
	font-weight: bolder;
	line-height: 100%;
	background-color: #FFFFFF;
	color: #003366;
	border: thin solid #003366;
}
#LM-guide p {
<<<<<<< .mine
	line-height: 1.4;
	padding: 6px;
=======
	font-size: small;
	line-height: 1.6;
>>>>>>> .r1114
	margin: 0px;
	padding: 0px;
}


#t-japanese {
<<<<<<< .mine
	margin: 0px;
	font-size: 120%;
	line-height: 1.6;
	border: thin dashed #FFCC33;
=======
	margin: 0px auto;
	border: thin dashed #FF9900;
	padding: 10px;
	background-color: #FFFFCC;
>>>>>>> .r1114


}
#t-english {
	float: right;
	padding: 0px;	
	margin: 0px;
	width: 395px;
	border: thin dashed #99CC33;
}
.clear01 {
	clear: both;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}

/*-- 経路情報 --*/
#route {
	width: 740px;
	margin-right: auto;
	margin-left: auto;
}
#route p {
	font-size: 100%;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}


/*-- 操作方法・注意事項 --*/
#help h3,
#notes h3 {
	font-size: 95%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 10px;
	background-image: none;
	margin: 5px 0px 5px 10px;
	padding: 4px 0px 4px 10px;
	border-style: solid;
	border-color: #999999;
}
#help ul,
#notes ul {
	list-style-type: square;
	margin-left: 20px;
	margin-right: 10px;
	padding-left: 1em;
}
#help ol,
#notes ol {
	margin-right: 15px;
	margin-left: 30px;
	list-style-type: decimal;
	padding-left: 2em;
}
#help li,
#notes li {
	font-size: 95%;
	line-height: 120%;
	padding-bottom: 8px;
}
.f_notes01 {
	font-size: x-small;
	vertical-align: text-top;
}
#sitemap {
	margin-right: 30px;
	margin-left: 30px;
	padding: 10px;
	border: medium dotted #999999;
}
#sitemap h5 {
	background-color: #CCCCCC;
	display: block;
	padding: 5px 5px 5px 10px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-weight: bold;
}
#sitemap a:link {
	color: #003366;
	text-decoration: none;
}
#sitemap a:visited {
	color: #003366;
	text-decoration: none;
}
#sitemap a:hover {
	color: #FF6600;
	text-decoration: underline;
}
#sitemap p {
	font-size: 90%;
	line-height: 160%;
	margin-right: 30px;
	margin-left: 40px;
	margin-top: 0px;
	margin-bottom: 20px;
}
